<ul class="pager">
  <li class="previous">
    <%= link_to 'New Event', new_event_path %>
  </li>
</ul>
<ul class="nav nav-tabs">
<% Category.all.each do |category| %>
  <li class="<%= 'active' if params[:category] == "#{category.id}" %>"><a href="?category=<%= category.id %>"><%= category.name %></a></li>
<% end %>
</ul>
<table class="table table-striped table-bordered">
  <tr>
    <th class="hidden-phone"></th>
    <th class="hidden-phone">Category</th>
    <th>Name</th>
    <th>Since Last</th>
    <th class="hidden-phone">Goal</th>
    <th>Count</th>
  </tr>
<% @events.each do |event| %>
  <tr>
    <td class="hidden-phone"><%= link_to 'Edit', edit_event_path(event) %></td>
    <td class="hidden-phone"><%= event.category.name %></td>
    <td><%= event.name %></td>
    <td>    
    <% if event.logs.order("created_at").last %>
      <span class="badge"><%= distance_of_time_in_words Time.now, event.logs.order("created_at").last.created_at %></span>
    <% end %>
    </td>
    <td class="hidden-phone"><span class="badge"><%= event.goal %></span></td>
    <td><span class="badge"><%= event.logs.count %></span></td>
  </tr>
<% end %>
</table>
