<ul class="pager">
  <li class="previous">
    <%= link_to 'New Log', new_log_path %>
  </li>
</ul>
<%= will_paginate @logs %>

<table class="table table-striped table-bordered">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Timestamp</th>
    <th>Duration</th>
  </tr>
  <% @logs.each do |log| %>
  <tr>
    <td><%= link_to 'Edit', edit_log_path(log) %></td>
    <td><%= log.event.name %></td>
    <td><%= log.created_at %></td>
    <td><%= log.duration %></td>
  </tr>
  <% end %>
</table>
