<ul class="pager">
  <li class="previous">
    <%= link_to 'New Log', new_log_path %>
  </li>
</ul>
<%= will_paginate @logs %>

<table class="table table-striped table-bordered">
  <tr>
    <th class="hidden-phone"></th>
    <th>Name</th>
    <th>Timestamp</th>
    <th class="hidden-phone">Duration</th>
    <th class="hidden-phone"></th>
  </tr>
  <% @logs.each do |log| %>
  <tr>
    <td class="hidden-phone"><%= link_to 'Edit', edit_log_path(log) %></td>
    <td><%= log.event.name %></td>
    <td><%= log.created_at.localtime.to_s(:short) %></td>
    <td class="hidden-phone"><%= log.duration %></td>
    <td class="hidden-phone"><%= link_to 'Destroy', log, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
  <% end %>
</table>
