<!DOCTYPE html>
<html lang="en">
<head>
  <title>Life</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container-fluid">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">Life</a>
          <ul class="nav">
            <li class="<%= 'active' if params[:controller] == 'home' %>"><a href="/">Home</a></li>
            <li class="<%= 'active' if params[:controller] == 'events' %>"><a href="/events">Events</a></li>
            <li class="<%= 'active' if params[:controller] == 'groceries' %>"><a href="/groceries">Groceries</a></li>
            <li class="<%= 'active' if params[:controller] == 'logs' %>"><a href="/logs">Logs</a></li>
          </ul>
        </div>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
